/* Define global styles here */
  html,body {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      height:100vh;
  }

  body {
     padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
     padding-top: env(safe-area-inset-top); /* iOS 11.2 */ 
  }

  @font-face {
    font-family: "Dream Orphans";
    src: url("DreamOrphans.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Aileron";
    src: url("Aileron-Regular.otf") format("otf");
  }

  :focus {
    outline-color:unset!important;
  }
  
  
  button {
      background:#a80cba;
      color:#FFF;
      padding:2px 8px;
      border-radius:6px;
      height:35px;
  }

  button:disabled {
      opacity:0.5;
  }
  
  .mobileCenter {
      text-align:center;
  }

  .linkbtn {
      background:transparent;
      border:none;
      padding:2px;
      color:#555;
      padding:0%;
      font-weight:bold;
      text-decoration:underline;
      border:none;
  }
  
  .schdusButton {
      background: #a80cba;
      padding:2px 8px;
  }

  .blueButton {
      background:royalblue;
      color:#FFF;
      padding: 2px 8px;
  }
  
  .tanButton {
        background:royalblue;
        color:#FFF;
        padding: 2px 8px;
  }
  
  .transButton {
     background:transparent;
     border:none;
     text-decoration:none;
     height:inherit;
  }
  
  .modifiedNormal {
     border:1px solid #555;
     padding:2px 4px;
  }
  
  .redButton {
    background:red;
    padding:2px 4px;
  }
  
  a.spfield img, a.spfield span {
    vertical-align:middle;
  }

  button span, button i {
    vertical-align: middle!important;
  }

  .smallgray {
      font-size:0.9rem;
      color:#555;
  }

  .valign {
      vertical-align:middle!important;
  }
  
  h1 {
      color:royalblue;
      font-size:1.6rem;
      font-family:Arial, Helvetica, sans-serif;
  }
  
  h4 {
    color:#555;
}


  /* Layout specific */

  .v-toolbar {
  
      border-bottom:1px dotted #999;
  }
  .v-toolbar__side-icon {
      color: #666699!important;
  }
  .v-toolbar .material-icons {
    font-size:38px;
  }
  .v-collapse-content {
    display:none;
  }
  .v-collapse-content-end {
    display:block!important;
  }

  .v-facebook-login {
      display:inline-block!important;
  }

  .desktopOnly {
    display:none;
  }
  
  /* Utility classes */
  .moduleWrapper {
      padding:5%;
  }
  .accheader {
  
      border:1px solid #555;
      padding:2%;
      margin-top:10px;
  }
  .accheader span, .accheader i {
      vertical-align:middle;
  }
  .accheader i {
      color: #555;
  }
  .accheader span {
      color: #a80cba;
  }
  .acccontent {
      border-left: 1px solid #666699;
      border-right: 1px solid #666699;
      border-bottom: 1px solid #666699;
      padding:3%;
     
  }
  .bgwhite {
     background-color:#FFF;
  }
  .biggerisbadder {
     font-size:1.3rem;
  }
  .boldchoice { 
      font-weight:bold;
  }
  .btop {
      border-top:1px solid #555;
  }
  .fullborder {
      border:1px solid #a80cba;
  }
  .dmRouter {
     width:100%;
  }
  .fieldwell label {
      color: #666;
      font-weight:bold;
  }
  .fieldwell {
      color:#555;
  }
  .grayborder {
      border:1px solid #555;
  }
  .schdusborder {
    border:1px solid #a80cba;
  }
  .selectedTile {
      background:#defcee;
  }
  .indented1 {
      padding-left:5%;
  }
  .spfield span, .spfield i {
    color:#555;
    vertical-align:middle;
  }
  .greenicon, .greenicon i, .greenicon span {
     color:green!important;
  }
  .redicon, .redicon i, .redicon span {
     color:red!important;
  }
  .imgcircle {
     border-radius:50%;
  }
  .lg2 {
      flex-basis: 0;
      flex-grow: 1;
      max-width:16%;
  }
  .lg6 {
      flex-basis: 0;
      flex-grow: 1;
      max-width:50%;
  }
  
  .divright {
      display: flex;
      justify-content: flex-end;
  }
  
  .textcenter {
    text-align:center;
  }
  .textright {
    text-align:right;
  }
  .textleft {
    text-align:left;
  }
  .nopadding {
      padding:0px!important;
  }
  .notopmargin {
      margin-top:0px;
  }
  input.textfield, select.textfield {
        border:1px solid #b4cde4;
        height:30px;
        padding:3px;
        width:100%;
        border-radius:6px;
        color:#555;
  }   
  .fieldwell input:focus, .fieldwell select:focus, .fieldwell textarea:focus {
       box-shadow: 0 0 5px #a80cba;
       padding: 3px 0px 3px 3px;
       margin: 5px 1px 3px 0px;
       border: 1px solid #a80cba;
  }

  .fieldwell input.errorHighlight {
      border:1px solid red!important;
      box-shadow: 0 0 5px red;
  }

  .fieldwell textarea {
     width:100%;
     height:100px;
     border:1px solid #b4cde4;
  }
  .topEvent {
      margin-top:10%;
  }

  .modalWrapper {
      padding:5%;
      position:relative;
  }

  .imageUploader {
      text-align:center;
      margin-top:30%;
      margin-bottom:30%;
  }

  .imageUploader #fileInput {
      display:none;
  }

  .imageUploaderBottom {
      position:absolute;
      bottom:5px;
      width:90%;
  }
  
  .nounderline {
      text-decoration:none!important;
  }
  .buttonwell {
      margin-top:4%;
  }
  .comment-tree {
      margin-bottom:10px;
  }
 
  .errorBox {
     background-color: #cc0033;
     border-radius:8px;
     color:white;
     padding:2%;
     margin-bottom:5px;
     text-align:center;
     position:fixed;
     bottom:5%;
     left:5%;
     right:5%;
  }
  .okBox {
     background-color: forestgreen;
     border-radius:8px;
     color:white;
     padding:2%;
     margin-bottom:5px;
     text-align:center;
     position:fixed;
     bottom:1%;
     left:5%;
     right:5%;
  }
  .p1 {
     padding:1%;
  }
  .pl2 {
     padding-left:2%;
  }
  .pl4 {
      padding-left:4%;
  }
  .p2top {
      padding-top:2%;
  }
  .p5top {
    padding-top:5%;
  }
  .p2 {
     padding:2%;
  }
  .p2left {
     padding-left:2%;
  }
  .p4 {
     padding:4%;
  }
  .pbot20 {
      padding-bottom:20px;
  }
  .anchorbottom {
      position:absolute;
      bottom:3%;
      width:90%;
  }
  .poweredByGoogle {
      text-align:right;
      
  }
  .m5bot {
      margin-bottom:5px;
  }
  .mtp-10 {
     margin-top:10%;
  }
  .fullWidth {
      width:100%
  }
  .paddedField {
      padding:3%;
  }
  .emphasis1 {
    font-weight:bold;
  }
  .highlightbox {
    font-size:0.9em;
  }
  .pemoji {
      font-size:2em;
  }
  .schdusPurple {
     color:#a80cba;
  }
  .stdPadding {
     padding:5%;
  }
  .borderTopLinks {
     border-left:1px solid #555;
     border-bottom:1px solid #555;
     border-right:1px solid #555;
  }
   .year-month-wrapper, .nav-r, .nav-l, .activePort {
      background-color: #a80cba!important;
   }
  
   .okButton, .days {
       color: #a80cba!important;
   }
  
  .relative {
      position:relative;
  }

  .primary--text {
      background:#EEE;
  }

  .theme--light.v-toolbar, .theme--light.v-list {
      background-color:inherit!important;
  }

  .theme--light.application {
      background:#FFFFFC!important;
  }
  
  
 .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.myevscheduling {
    color:#a80cba;
    font-size:1.3em;
    padding:7px 5px;
    border-top:1px dotted #888;
   
}

.botdot {
    border-bottom:1px dotted #888;
}

.scrollbox {
    height:380px;
    overflow-y:auto;
}

.foundLocation {
    border-bottom:1px solid #444;
    padding:5px;
}

.locationTop {
    border-bottom:1px solid #444;
    padding-bottom:5px;
}

.locationIcon {
    max-height:50px;
}

.mb-2 {
    margin-bottom:2%;
}

.loadingImg {
    margin-top:50%;
    text-align:center;
}
.loadingMod {
    margin-top:10%;
    text-align:center;
    margin-bottom:10%;
}

.editicon {
    opacity:0.5;
    font-size:2.5rem;
}

.ib { 
    display:inline-block;
}

.guestlist, .manualaddguest {
    border:1px solid #555;
    border-radius:6px;
    color:#777;
}

.curvedBorder {
    border:1px dotted #555;
    border-radius:5px;
}

.crowningAround {
    position:absolute;
    top:-8px;
    left:19px;
    z-index:5;
}

.betaVersion {
    border-bottom:1px dotted #999;
    color:royalblue;
    text-align:center;
}

