@media (min-width: 1264px) {
  
    html {
        background-color: #444;
    }

    body {
        width: 1366px;
        margin: 0 auto;
    }

    h1 {
        font-size:2rem;
    }

    .errorBox,.okBox {
        position:relative;
        bottom:inherit;
        left:inherit;
        right:inherit;
    }

    .crowningAround {
        left:43px;
    }

    .desktopOnly {
        display:block;
    }

    .dmRowContainer, .dmContainer {
        height:100%;
    }

    .drawerHeader {
        display:none;
    }

    .toolbarDesktop {
        padding:0.3% 1%;
        border-bottom:1px dotted gray;
    }

    .toolbarMenu {
        width:250px;
        border-right:1px dotted gray;
    }

    .mobileOnly {
        display:none;
    }

    .v-toolbar--fixed {
        position: relative!important;
    }

    .v-toolbar__content button {
        display:none!important;
    }

    .v-content {
        padding:0px!important;
    }

    .mtp-10 {
        margin-top:5%;
    }

    .topEvent {
        margin-top:2%;
    }

    .moduleWrapper {
        padding:2.5%;
        max-width:94%;
    }

    .dmRouter {
        flex-basis: 0;
        flex-grow: 1;
        width:84%;
     }

     .desktopTopSpacer {
         margin-top:80px!important;
     }

     .fullWidth {
        width:250px;
     }

     input.textfield, select.textfield {
         height:3.7vh;
     }

     .accheader {
         padding:1%;
         cursor:pointer;
     }

     .acccontent {
         padding:2%;
     }

     .attendingBox {
         padding:1%!important;
     }

     .lgLeft {
         text-align:left!important;
     }

     .errorBox,.okBox {
         padding:1%;
     }

     .mobileCenter {
         text-align:inherit!important;
     }
}
  
  